.block1{
    background-color: #f1511b;
    height:48px;
    width:48px;
}
.block2{
    background-color: #80cc28;
    height:48px;
    width:48px;
}
.block3{
    background-color: #00adef;
    height:48px;
    width:48px;
}
.block4{
    background-color: #fbbc09;
    height:48px;
    width:48px;
}
.wrapper {
    width:100px;
    display: flex;
    justify-content: space-between;
}
.wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100px
}
.target-logo {
    width: 100px;
    height: 100px;
    background-color: #CC0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.target-logo::before {
    content: "";
    width: 66px;
    height: 66px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.target-logo::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background-color: #CC0000;
    border-radius: 50%;
}