.lightbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 640px;
    margin: auto auto;
    text-align: center;
    background-color: white;
}
.lightbox-close{
    position: absolute;
    right:0;
}
.overlay{
    display: none;
    justify-content: center;
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1{
    background-color: #f1511b;
    height:48px;
    width:48px;
}
.block2{
    background-color: #80cc28;
    height:48px;
    width:48px;
}
.block3{
    background-color: #00adef;
    height:48px;
    width:48px;
}
.block4{
    background-color: #fbbc09;
    height:48px;
    width:48px;
}
.wrapper {
    width:100px;
    display: flex;
    justify-content: space-between;
}
.wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100px
}
.target-logo {
    width: 100px;
    height: 100px;
    background-color: #CC0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.target-logo::before {
    content: "";
    width: 66px;
    height: 66px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.target-logo::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background-color: #CC0000;
    border-radius: 50%;
}
.progress-container {
    position: relative;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
}
.progress-bg, .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bg {
    background-color: lightgray;
    color: black;
}
.progress-bar {
    background-color: red;
    color: white;
    overflow: hidden;
    z-index: 2;
}
.progress-bar span {
    width: 300px;
    position: absolute;
    left: 0;
    text-align: center;
}